/* =========================================
   Base Elements
   ========================================= */
body {
  /* Background */
  color: #e0e0e0;
  padding: 20px;

  /* Font */
  font-family: Tahoma, sans-serif;
  font-size: 1.2rem;
  
}

p {
  margin-bottom: 0rem; 
}

strong {
  /* Text */
  color: #E9C46A;
}

ul {
  padding-left: 20px;
  padding-top: 0px;
}
li > ul {
  padding-left: 15px;
}

blockquote {
  padding-left: 5px;
  margin-right: 5px;
  border-radius: 5px;
}

a {
  color: #e0e0e0 !important;
}

/* =========================================
   Headings
   ========================================= */

h1 {
  margin-top: 1.5em;
}

h2 {
  /* Background */
  margin-top: 0.5em;

  /* Border */
  border-bottom: 3px solid #E9C46A !important;
}

h3 {
  /* Text */
  font-size: 1.5rem;

  /* Background */
  padding: 5px 5px 5px 10px; /* Top, Right, Bottom, Left */

  /* Border */
  border-top: 2px dashed #555555;
  border-bottom: 2px dashed #555555;
}

/* =========================================
   Tables
   ========================================= */
table {
  /* Background */
  display: block; 
  width: max-content; 
  max-width: 100%; 
  padding: 5px;
  
  /* Scroll */
  overflow-x: auto; 
  white-space: nowrap; 
}

